/* RESET START */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    padding: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    /* display: block; */
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
/* RESET END */

a{text-decoration: none;}
ul{list-style-type: none;}


.item1 { grid-area: header; }
.item2 { grid-area: menuu; }
.item3 { grid-area: main; }

.grid-container {
    margin: 0 auto;
    width: 1440px;
    display: grid;
    grid-template-areas:
        'menuu header header'
        'menuu main main'
        'menuu main main';

    grid-template-columns: 19.5% 80.5%;
    grid-template-rows:25% 75%;
    text-align: center;
}
body{
    font-family: Inter;
}
/* İTEM1 START */
.item1{
    color: #5F6D7E;
    display: flex;
    padding: 24px 32px;
    flex-direction: column;
    gap: 24px;


}
.bread-crumb{
    display: flex;
    align-items: center;
    align-self: stretch;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.1px;
}
.bread-crumb span{
    color: black;
}

.item1-title h1{
    color: #272D37;
    font-size: 28px;
    font-weight: 600;
    line-height: 38px; /* 135.714% */
    letter-spacing: -0.28px;
    text-align: left;

}

.item1-title h5{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.1px;
    text-align: left;
}

.tabs{
    display: flex;
    align-items: flex-start;
    gap: 24px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px; /* 146.667% */
    letter-spacing: -0.1px;
    border-bottom: 1px solid #EAEBF0;
}

.notification{
    display: flex;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #DAE0E6;
}
.add-button{
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.All-btn , .Saved-btn ,.Recent-btn{
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-right:1px solid #DAE0E6;
    background: #FFF;
}
.buttons img{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #FFF;
}
.filter-btn {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 5px;
    background: #437EF7;

}
.new-btn{
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 5px;
    border: 1px solid  #DAE0E6;
    background: #FFF;
}
/* İTEM1 END */


/* İTEM2 START */

.item2{
    width: 280px;
    border-right: 1px solid #EAEBF0;
    background: #FFF;
    padding: 24px 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #5F6D7E;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px; 
    letter-spacing: -0.1px;
}
.side-menu-section li{
    display: flex;
    height: 46px;
    align-items: center;
    gap: 12px;
}
.side-menu-section span{
    width: 140px;
    text-align: left;
}
.side-menu-section ul{
    justify-content: space-between;
}
.side-menu-section{
    margin-top: 32px;
}

.side-menu{
    margin-bottom: 420px;
}
.dot{
    padding: 0px 28px;
}

.widgets-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.new-task{
    display: flex;
    padding: 12px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: #F8F9FB;
}

.new-task-button img{
    margin-bottom: 12px;
    height: 40px;
    padding: 10px;
    border-radius: 50px;
    border: 1px dashed  #DAE0E6;
}
button {
    border: none;
}
.new-task-button{
    background: #F8F9FB;
}
.new-task h4{
    color: #5F6D7E;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.1px;
}
.projects-text h6{
    color: #5F6D7E;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.1px;
}

.projects-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.section1 ,.section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.section1 h3{
    color: #FFF;
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #437EF7;
}

.progress-container {
    width: 135px;
    height: 8px;
    background: linear-gradient(to right,#437EF7 50%, #f3f3f3 50%);
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}
/* İTEM2 END */

/* İTEM3 START */
.item3{
    margin: 0 auto;
    background-color: #f8f9fb;
    display: flex;
    gap: 24px;
    padding: 24px 12px;
}
.to-do , .In-progress, .done , .new-task-section{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.to-do-card{
    background-color: #FFF;
    border: 1px solid #DAE0E6;
    border-radius: 5px;
    position: relative;
}
.new-task-btn{
    display: flex;
    height: 147px;
    width: 256px;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 6px;
    border: 1.67px dashed #DAE0E6;
}
.new-task-btn h4{
    display: flex;
    gap: 6px;
}
.item3-titles{
    display: flex;
    text-align: left;
}
.title-menu, .clock-avatar{
    display: flex;
    padding: 16px 20px;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}
.item3 h6{
    display: flex;
    text-align: left; 
    padding: 0px 20px 16px 20px;

}

.job-toggle-menu{
    width: 45%;
    background-color: #FFF;
    box-shadow: 0px 1px 2px 0px rgb(16, 24, 10);
    border-radius: 10px;
    border: 1px solid #5F6D7E;
    position: absolute;
    left:110px;
    top:36px;
    & li{
        border-bottom: 1px solid #ccc;
    }
    & li:last-child{
        border: none;
    }
    & a{
        color: black;
        padding: 8px 12px 6px;
        display: block;
     & :hover{
        font-weight: bold;

        }
    }

}
/* İTEM3 END */

/* DİALOG-EKRANI START*/
#dialog {
    position: fixed;
    width: 760px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    z-index: 9999;
    height: 100%;
    /* Sayfanın ortasına konumlandırma */
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#dialog::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  #dialog::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
  }

#dialog::-webkit-scrollbar {
    width: 12px;
}

 .dialog-top-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    border-bottom: 1px solid #EAEBF0;
    background: #FFF;

 }

.dialog-top-section button{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #FFF;

}

.dialog-top-dot-close{
    display: flex;
    gap:24px;
}
 .close-btn{
    display: flex;
    align-items: center;
} 

.dialog-title{
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-bottom: 1px solid #EAEBF0;

}
.dialog-title-users{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;

}
.dialog-progress{
    width: 690px;
    height: 8px;
    background: linear-gradient(to right,#437EF7 50%, #f3f3f3 50%);
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    margin: 32px;

}
.dialog-description{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding: 32px;
}
.description-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}


#optionsDialog {
    /* width: 45%; */
    background-color: #FFF;
    box-shadow:0px 1px 2px 0px  rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 1px solid #272D37;
    position: absolute;
    left: 42%;
    top: 52px;
    text-align: center;
    
    
}

#optionsSelect {
    margin-bottom: 20px; /* Seçeneklerin alt boşluğu */
    font-size: 14px;
    width: 100%;
    padding: 10px;
    
}

#confirmOptionBtn {
    font-size: 14px;
    padding: 10px 20px;
    margin: 5px;
    border:1px solid #437EF7;
    border-radius: 5px;
}

#notInput{
    width: 600px;
    height: 160px;
}
.item3-dot-menu{
    background-color: #FFF;
}

.dialog-check-box{
    display: flex;
    padding: 0px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

}

.dialog-images{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding: 32px;
}
.dialog-three-image{
    margin-top: 24px;
    display: flex;
}
.xomments{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding-left: 32px;
    padding-right: 32px;

}
.buble-xomment{
    display: flex;
    align-items: flex-start;
    gap: 8px;

}
.xomments-text{
    background-color: #F8F9FB;
}
.xomment-title{
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
/* DİALOG EKRANI END */